{% extends 'base.html.twig' %}

{% block title %}Aanbod index{% endblock %}

{% block body %}
    <h1>Aanbod index!!!!!</h1>

    {% for aanbod in aanbods%}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{aanbod.name}}</h5>
            <p class="card-text">{{aanbod.description}}</p>
            <a class="btn btn-primary" href="{{ path('aanbod_show', {'id': aanbod.id}) }}">show</a>
            <a class="btn btn-danger" href="{{ path('aanbod_edit', {'id': aanbod.id}) }}">edit</a>
        {% else %}
                <td colspan="11">no records found</td>
        {% endfor %}
        </div>
    </div>
    

    <a href="{{ path('aanbod_new') }}">Create new</a>

    
{% endblock %}
